
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>Hello Login Here </p>

<div class="container-fluid d-flex justify-content-between">
    <div class="card" style="width: 18rem;">
        <img src="~/images/adminlock.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Admin Login</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="https://localhost:44322/Admins/Login" class="btn btn-primary">Click!</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="~/images/customer.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Customer Login</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="https://localhost:44322/CarDetails" class="btn btn-warning">Click!</a>
        </div>
    </div>
</div>